[bumpversion]
current_version = 5.3.1
commit = True
tag = True

[bumpversion:file:setup.py]

[bumpversion:file:README.md]

[bumpversion:file:Dockerfile]

[bumpversion:file:docs/conf.py]

[bumpversion:file:gdsfactory/__init__.py]

[bumpversion:file:gdsfactory/config.py]

[bumpversion:file:gdsfactory/gf.py]

[bumpversion:file:.github/workflows/docker.yml]

[bumpversion:file:klayout_package/grain.xml]
