[html]
directory = coverage_html_report

[paths]
source =
    gdsfactory/

[run]
omit =
    *.bak
    gdsfactory/build.py
    gdsfactory/install.py
    gdsfactory/simulation/*
    gdsfactory/klayout/*
    fixme/*
    docs/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    class .*\bProtocol\):

ignore_errors = True
