[html]
directory = coverage_html_report

[paths]
source =
    pp/

[run]
omit =
    *.bak
    pp/build.py
    pp/install.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    class .*\bProtocol\):

ignore_errors = True
