include pp/gds/alphabet.gds
include pp/components/csv_data/*.csv
include pp/components/grating_coupler/csv_data/*.csv
recursive-include pp/samples/*
global-include *.csv
global-include *.yaml
include requirements.txt
include requirements_dev.txt
include pp/klayout/pymacros/klive.lym
include pp/klayout/drc/generic.lydrc
include pp/klayout/tech/generic.layerstack
include pp/klayout/tech/layers.lyp
include pp/klayout/tech/tech.lyt
include pp/klayout/tech/xsection.lym
include pp/klayout/tech/xsection_generic.lym
include pp/klayout/tech/xsection_generic.xs
include pp/klayout/tech/xsection_planarized.xs
