include gdsfactory/tests/gds/alphabet.gds
include gdsfactory/components/csv_data/*.csv
include gdsfactory/components/grating_coupler/csv_data/*.csv
recursive-include gdsfactory/samples/*
global-include *.csv
global-include *.yaml
include requirements.txt
include requirements_full.txt
include requirements_dev.txt
include requirements_exp.txt
include requirements_sipann.txt
include requirements_tidy3d.txt
include gdsfactory/klayout/pymacros/klive.lym
include gdsfactory/klayout/drc/generic.lydrc
include gdsfactory/klayout/tech/generic.layerstack
include gdsfactory/klayout/tech/layers.lyp
include gdsfactory/klayout/tech/tech.lyt
include gdsfactory/klayout/tech/xsection.lym
include gdsfactory/klayout/tech/xsection_generic.lym
include gdsfactory/klayout/tech/xsection_generic.xs
include gdsfactory/klayout/tech/xsection_planarized.xs
include gdsfactory/tech.yml
