[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
click = "*"
numpy = ">=1.20.0"
pandas = "*"
picwriter = "==0.5"
phidl = "==1.6.0"
qrcode = "==7.3.1"
scipy = "*"
omegaconf = "==2.1.1"
GitPython = "*"
Shapely = "~=1.8.0"
gdspy = "~=1.6.11"
klayout = "*"
lytest = "==0.0.20"
xmltodict = "==0.12.0"
pydantic = "==1.9.0"
scikit-image = "*"
loguru = "*"
ipympl = "*"
toolz = "==0.11.2"
trimesh = "==3.9.42"
triangle = "*"
jsondiff = "*"
matplotlib = "~=3.5.1"
networkx = "==2.6.3"
pytest = "==6.2.5"
pytest-regressions = "==2.3.1"
rectpack = "==0.2.2"
semantic-version = "*"
typing-extensions = "*"
Pyqtree = "==1.0.0"

[requires]
python_version = "^=3.9"

[dev-packages]
recommonmark = "*"
sphinx-markdown-tables = "*"
sphinx-autodoc-typehints = "*"
pytest-cov = "*"
nbval = "*"
flake8 = "*"
pre-commit = "*"
tox = "*"
doc8 = "*"
pydocstyle = "*"
nbsphinx = "*"
ipykernel = "*"
Sphinx = "*"
furo = "*"
