[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
click = "*"
numpy = "*"
pandas = "*"
picwriter = "*"
phidl = "1.5.2"
qrcode = "*"
scipy = "*"
omegaconf = "*"
GitPython = "*"
Shapely = "*"
gdspy = "1.6.6"
klayout = "*"
lytest = "*"
xmltodict = "*"
pydantic = "*"
scikit-image = "*"
loguru = "*"

[requires]
python_version = ">=3.7"

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
recommonmark = "*"
sphinx-markdown-tables = "*"
sphinx-autodoc-typehints = "*"
pytest-cov = "*"
nbval = "*"
flake8 = "*"
pre-commit = "*"
tox = "*"
flake8-rst-docstrings = "*"
doc8 = "*"
pydocstyle = "*"
nbsphinx = "*"
ipykernel = "*"
