-e .
click
gitpython
gdspy==1.6.4
omegaconf
jsondiff
klayout==0.27.0
numpy
pandas
phidl==1.5.0
picwriter==0.5
pyqtree
qrcode
rectpack
scipy
shapely
networkx
matplotlib
pytest
pytest-regressions
lytest
xmltodict
pydantic
