autograd
bokeh
freetype-py
holoviews
ipympl
ipywidgets
klayout
lytest==0.0.20
mapbox_earcut
networkx
nlopt
phidl
pyglet
pygmsh
sax==0.8.4
scikit-fem
scikit-image
simphony==0.6.1
sklearn
triangle
trimesh
