doc8
docutils
flake8
furo
ipykernel
mypy
myst-parser
nbsphinx
nbval
pre-commit
pur
pydocstyle
pytest-cov
recommonmark
sphinx==4.4.0
sphinx-autodoc-typehints
sphinx-click
sphinx-markdown-tables
tox
xdoctest
