-e .
click
gdspy==1.6.10
ipympl
jsondiff
loguru
lytest==0.0.20
matplotlib==3.5.1
networkx==2.6.3
numpy
omegaconf==2.1.1
pandas
phidl==1.6.0
picwriter==0.5
pydantic==1.8.2
Pyqtree==1.0.0
pytest==6.2.5
pytest-regressions==2.2.0
qrcode==7.3.1
rectpack==0.2.2
scikit-image
scipy
semantic_version
Shapely==1.8.0
toolz==0.11.2
trimesh==3.9.36
typing_extensions
xmltodict==0.12.0
