autograd
bokeh
flayout
freetype-py
holoviews
ipympl
ipywidgets
klayout
mapbox_earcut
networkx
nlopt
phidl
pyglet
pygmsh
sax==0.8.4
scikit-fem
scikit-image
scikit-learn
simphony==0.6.1
triangle
trimesh
