bokeh
freetype-py
google-cloud-storage
holoviews
ipympl
ipywidgets
klayout
lytest==0.0.20
mapbox_earcut
networkx
phidl==1.6.2
pyglet
pygmsh
sax==0.8.4
scikit-fem
scikit-image
simphony==0.6.1
sklearn
triangle
trimesh
