sphinx==4.2.0
docutils
furo
recommonmark
sphinx-markdown-tables
sphinx-autodoc-typehints
sphinx-click
pytest-cov
nbval
flake8
mypy
myst-parser
pre-commit
tox
flake8-rst-docstrings
doc8
pydocstyle
nbsphinx
ipykernel
pur
xdoctest
tidy3d
trimesh==3.9.35
triangle
pyglet
