-e .
click
gitpython
gdspy==1.6.4
omegaconf==2.0.1
jsondiff
klayout==0.27.0
numpy
pandas
phidl==1.5.2
picwriter==0.5
pyqtree
qrcode
rectpack==0.2.1
scipy
shapely
networkx
matplotlib
pytest
pytest-regressions
lytest==0.0.20
xmltodict
pydantic==1.8.2
