name: sample_docstring_7864c0c5
ports: {}
settings:
  changed:
    conf:
      instances:
        mmi_bot:
          component: mmi1x2
          settings:
            length_mmi: 11
            width_mmi: 5
        mmi_top:
          component: mmi1x2
          settings:
            length_mmi: 22
            width_mmi: 6
      name: sample_docstring
      placements:
        mmi_bot:
          dx: 40
          dy: -40
          port: o1
          x: mmi_top,o2
          y: mmi_top,o2
        mmi_top:
          port: o1
          x: 0
          y: 0
      routes:
        optical:
          links:
            mmi_top,o3: mmi_bot,o1
    routing_strategy:
      get_bundle:
        function: get_bundle
      get_bundle_all_angle:
        function: get_bundle_all_angle
      get_bundle_electrical:
        function: get_bundle
        settings:
          bend:
            function: wire_corner
          cross_section: metal_routing
      get_bundle_from_steps:
        function: get_bundle_from_steps
      get_bundle_from_steps_electrical:
        function: get_bundle_from_steps
        settings:
          bend:
            function: wire_corner
          cross_section: metal_routing
      get_bundle_from_waypoints:
        function: get_bundle_from_waypoints
      get_bundle_path_length_match:
        function: get_bundle_path_length_match
      get_bundle_same_axis_no_grouping:
        function: get_bundle_same_axis_no_grouping
  child: null
  default:
    label_instance_function:
      function: add_instance_label
    mode: layout
  full:
    conf:
      instances:
        mmi_bot:
          component: mmi1x2
          settings:
            length_mmi: 11
            width_mmi: 5
        mmi_top:
          component: mmi1x2
          settings:
            length_mmi: 22
            width_mmi: 6
      name: sample_docstring
      placements:
        mmi_bot:
          dx: 40
          dy: -40
          port: o1
          x: mmi_top,o2
          y: mmi_top,o2
        mmi_top:
          port: o1
          x: 0
          y: 0
      routes:
        optical:
          links:
            mmi_top,o3: mmi_bot,o1
    label_instance_function:
      function: add_instance_label
    mode: layout
    routing_strategy:
      get_bundle:
        function: get_bundle
      get_bundle_all_angle:
        function: get_bundle_all_angle
      get_bundle_electrical:
        function: get_bundle
        settings:
          bend:
            function: wire_corner
          cross_section: metal_routing
      get_bundle_from_steps:
        function: get_bundle_from_steps
      get_bundle_from_steps_electrical:
        function: get_bundle_from_steps
        settings:
          bend:
            function: wire_corner
          cross_section: metal_routing
      get_bundle_from_waypoints:
        function: get_bundle_from_waypoints
      get_bundle_path_length_match:
        function: get_bundle_path_length_match
      get_bundle_same_axis_no_grouping:
        function: get_bundle_same_axis_no_grouping
  function_name: _from_yaml
  info:
    instances:
    - mmi_bot
    - mmi_top
  info_version: 2
  module: gdsfactory.read.from_yaml
  name: sample_docstring_7864c0c5
