name: yaml_anchor_14cbc915
ports: {}
settings:
  changed:
    conf:
      instances:
        mmi_long:
          component: mmi1x2
          settings:
            length_mmi: 10
            width_mmi: 4.5
        mmi_short:
          component: mmi1x2
          settings:
            length_mmi: 5
            width_mmi: 4.5
      name: yaml_anchor
      placements:
        mmi_long:
          dx: 10
          dy: 10
          port: o1
          x: mmi_short,east
          y: mmi_short,north
        mmi_short:
          port: o3
          x: 0
          y: 0
    routing_strategy:
      get_bundle:
        function: get_bundle
      get_bundle_all_angle:
        function: get_bundle_all_angle
      get_bundle_electrical:
        function: get_bundle
        settings:
          bend:
            function: wire_corner
          cross_section: metal_routing
      get_bundle_from_steps:
        function: get_bundle_from_steps
      get_bundle_from_steps_electrical:
        function: get_bundle_from_steps
        settings:
          bend:
            function: wire_corner
          cross_section: metal_routing
      get_bundle_from_waypoints:
        function: get_bundle_from_waypoints
      get_bundle_path_length_match:
        function: get_bundle_path_length_match
      get_bundle_same_axis_no_grouping:
        function: get_bundle_same_axis_no_grouping
  child: null
  default:
    label_instance_function:
      function: add_instance_label
    mode: layout
  full:
    conf:
      instances:
        mmi_long:
          component: mmi1x2
          settings:
            length_mmi: 10
            width_mmi: 4.5
        mmi_short:
          component: mmi1x2
          settings:
            length_mmi: 5
            width_mmi: 4.5
      name: yaml_anchor
      placements:
        mmi_long:
          dx: 10
          dy: 10
          port: o1
          x: mmi_short,east
          y: mmi_short,north
        mmi_short:
          port: o3
          x: 0
          y: 0
    label_instance_function:
      function: add_instance_label
    mode: layout
    routing_strategy:
      get_bundle:
        function: get_bundle
      get_bundle_all_angle:
        function: get_bundle_all_angle
      get_bundle_electrical:
        function: get_bundle
        settings:
          bend:
            function: wire_corner
          cross_section: metal_routing
      get_bundle_from_steps:
        function: get_bundle_from_steps
      get_bundle_from_steps_electrical:
        function: get_bundle_from_steps
        settings:
          bend:
            function: wire_corner
          cross_section: metal_routing
      get_bundle_from_waypoints:
        function: get_bundle_from_waypoints
      get_bundle_path_length_match:
        function: get_bundle_path_length_match
      get_bundle_same_axis_no_grouping:
        function: get_bundle_same_axis_no_grouping
  function_name: _from_yaml
  info:
    instances:
    - mmi_long
    - mmi_short
  info_version: 2
  module: gdsfactory.read.from_yaml
  name: yaml_anchor_14cbc915
