function: via_cutback
info: {}
module: gdsfactory.components.via_cutback
name: via_cutback
settings:
  layer1: HEATER
  layer2: M1
  min_pad_spacing: 0.0
  num_vias: 100.0
  pad:
    function: via_stack
    module: gdsfactory.components.via_stack
    settings:
      layers:
      - HEATER
      - M2
      - MTOP
      vias:
      - null
      - function: via
        module: gdsfactory.components.via
        settings:
          enclosure: 2
          layer: VIA1
      - function: via
        module: gdsfactory.components.via
        settings:
          layer: VIA2
  pad_size:
  - 150
  - 150
  via_layer: VIAC
  via_spacing: 40.0
  via_width: 5.0
  wire_pad_inclusion: 12.0
  wire_width: 10.0
