function: sample_mmis
info:
  description: just a demo on adding metadata
  polarization: te
  wavelength: 1.55
module: gdsfactory.read.from_yaml
name: sample_mmis_3a07ee11
settings:
  conf:
    info:
      description: just a demo on adding metadata
      polarization: te
      wavelength: 1.55
    instances:
      mmi_long:
        component: mmi1x2
        settings:
          length_mmi: 10
          width_mmi: 4.5
      mmi_short:
        component: mmi1x2
        settings:
          length_mmi: 5
          width_mmi: 4.5
    name: sample_mmis
    placements:
      mmi_long:
        rotation: 180
        x: 100
        y: 100
    ports:
      o1: mmi_short,o1
      o2: mmi_long,o2
      o3: mmi_long,o3
    routes:
      route_name1:
        links:
          mmi_short,o2: mmi_long,o1
  label_instance_function:
    function: add_instance_label
  mode: layout
  routing_strategy:
    get_bundle:
      function: get_bundle
    get_bundle_all_angle:
      function: get_bundle_all_angle
    get_bundle_electrical:
      function: get_bundle
      module: gdsfactory.routing.get_bundle
      settings:
        bend:
          function: wire_corner
        cross_section: xs_metal_routing
    get_bundle_from_steps:
      function: get_bundle_from_steps
    get_bundle_from_steps_electrical:
      function: get_bundle_from_steps
      module: gdsfactory.routing.get_bundle_from_steps
      settings:
        bend:
          function: wire_corner
        cross_section: xs_metal_routing
    get_bundle_from_waypoints:
      function: get_bundle_from_waypoints
    get_bundle_path_length_match:
      function: get_bundle_path_length_match
    get_bundle_same_axis_no_grouping:
      function: get_bundle_same_axis_no_grouping
  validate: false
