{% include 'header.html.j2' %}
{% include 'navbar.html.j2' %}
<html>
<head>
    <title>Homepage</title>
</head>
<body>
    <h1>gdsfactory webapp</h1>
    <p><a href="/pdk">Pdk explorer</a></p>
    <p><a href="/gds_current">Last Component.show()</a></p>
    <p><a href="/gds_list">Component.show() list</a></p>
    <p><a href="/filewatcher">filewatcher</a></p>
</body>
</html>
